@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient-gold {
        background: -webkit-linear-gradient(0deg, #D8D27D 30%, #b5ae44 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}